body,#backdiv{
    background: #f8f8f8;
}
#backdiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#app{
    color: #565656;
}
.leftcolorback{
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.color-icon .custom-class{
    color: #494949;
}
.openparent{
    background-color: whitesmoke;
}
.leftcolor1{
    background: #fff;
}

.shadwod{
    background: linear-gradient(#FFFFFF 41%, rgba(255, 255, 255, 0.11) 95%, rgba(255, 255, 255, 0));
}

.namecolor{
    color: #626262;
}